/target/
/allure-results/
/allure-report/
/extent-reports/
/execution-summary/
/test-output/
/reports/
/lighthouse-reports/
/performanceReport/
/generatedReport_*.zip
/generatedReport/
/generate_allure_report.sh
/allure-results.zip
/generate_allure_report.bat
.DS_Store
/.idea/
/.git/
*.iml
ajcore*.txt
debug.log
/.classpath
/.project
/bin/
/generateJdk.bat
/generateJdk.sh
/src/main/resources/properties/
GenerateLHScript.js
OpenLHReport.js
/src/main/resources/docker-compose/android-emulator/
/src/main/resources/docker-compose/data/
/src/test/resources/testDataFiles/allure-results/