/target/
/allure-results/
/allure-report/
/extent-reports/
/test-output/
/reports/
/generatedReport_*.zip
/generatedReport/
/generate_allure_report.sh
/allure-results.zip
/generate_allure_report.bat
.DS_Store
/.idea/*
/.git/*
*.iml
ajcore*.txt
debug.log
/.classpath
/.project
/bin/
/src/main/resources/properties/