/target/*
/allure-results/*
/allure-report/*
/test-output/*
/dependency-reduced-pom.xml
/b.sh
/generatedReport_*.zip
/generatedReport/
/generate_allure_report.sh
/allure-results.zip
/generate_allure_report.bat
.DS_Store
/.idea/*
/.git/*
*.iml
ajcore*.txt
debug.log
/extent-reports/