# https://github.com/SeleniumHQ/docker-selenium
# To execute this docker-compose yml file use `docker-compose -f selenium4.yml up --scale chrome=4 --scale edge=0 --scale firefox=0 -d`
# Add the `-d` flag at the end for detached execution
# http://localhost:4444/grid/console
# To stop the execution, hit Ctrl+C, and then `docker-compose -f selenium4.yml down --remove-orphans`
version: "3"
services:
   chrome:
      image: selenium/node-chrome:latest
      shm_size: 2gb
      depends_on:
         - selenium-hub
      environment:
         - SE_EVENT_BUS_HOST=selenium-hub
         - SE_EVENT_BUS_PUBLISH_PORT=4442
         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

   edge:
      image: selenium/node-edge:latest
      shm_size: 2gb
      depends_on:
         - selenium-hub
      environment:
         - SE_EVENT_BUS_HOST=selenium-hub
         - SE_EVENT_BUS_PUBLISH_PORT=4442
         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

   firefox:
      image: selenium/node-firefox:latest
      shm_size: 2gb
      depends_on:
         - selenium-hub
      environment:
         - SE_EVENT_BUS_HOST=selenium-hub
         - SE_EVENT_BUS_PUBLISH_PORT=4442
         - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

   selenium-hub:
      image: selenium/hub:latest
      container_name: selenium-hub
      ports:
         - "4442:4442"
         - "4443:4443"
         - "4444:4444"